# Clerk
# Clerk publishable key (required)
VITE_CLERK_PUBLISHABLE_KEY=
VITE_APP_URL=https://your-deployed-domain.com
CLERK_SECRET_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_API_KEY=
FIREBASE_APP_ID=
